.menuCabecera 
{background-color: #A4CDD9;
width: 100%;}
*{
    margin: 0;
    padding: 0;
}
.Banner
{background-image: url("../Imagenes/ImagenEducacion.jpg");
width: 100%;
height: 650px;
background-repeat: no-repeat;
background-size: 100%;
background-position-y: 80%;}
.CajaColumnas 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.Columna 
{
    flex: 1;
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}
.Colorrojo
{background-color: red;}
.colorceleste
{background-color: skyblue;}
.coloramarillo
{background-color: yellow;}
.Colorverde
{background-color: green;}
.MenuSuperior li
{display: inline; 
 padding: 5px;
 border-right: solid 2px black;}
.MenuSuperior
{text-transform: uppercase;
font-weight: bold;
text-align: right;
padding: 20px;
}
.MenuSuperior li a:hover
{color: #e2430c;
background-color: #02506e;
text-decoration:underline;}
li a
{text-decoration: none;}
.MenuSuperior li:last-child
{border-right: none;} 
